{% extends 'base.html.twig' %}

{% block body %}

    <div id="container1" class="container my-5 mt-5 ">

        <!--Section: Content-->
        <section class="dark-grey-text">

            <!-- Section heading -->
            <h1 class="text-center text-white font-weight-bold pt-5 mb-5">Tarifs et Demande de réservation</h1>

            <!-- Grid row -->
            <div class="row">

                <div class="col-12 mb-4">
                    <div class="card z-depth-2">
                        <div class="card-body p-0">
                            <div class="row mx-0">
                                <div class="col-md-4 elegant-color-dark rounded-left pt-4">
                                    <h5 class="font-weight-bold text-white">Période d'Avril: </h5>
                                </div>
                                <div class="col-md-4 text-center pt-4 border-right">
                                    <p class="h5 font-weight-normal">520 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 1 au 15 Avril</p>
                                </div>
                                <div class="col-md-4 text-center pt-4">
                                    <p class="h5 font-weight-normal">620 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 15 au 30 Avril</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-4 hideme">
                    <div class="card z-depth-2">
                        <div class="card-body p-0">
                            <div class="row mx-0">
                                <div class="col-md-4 elegant-color-dark  rounded-left pt-4">
                                    <h5 class="font-weight-bold text-white ">Période de Mai: </h5>
                                </div>
                                <div class="col-md-4 text-center pt-4 border-right">
                                    <p class="h5 font-weight-normal">720 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 1 au 15 Mai</p>
                                </div>
                                <div class="col-md-4 text-center pt-4">
                                    <p class="h5 font-weight-normal">720 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 15 au 30 Mai</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-12 mb-4 hideme">
                    <div class="card z-depth-2">
                        <div class="card-body p-0">
                            <div class="row mx-0">
                                <div class="col-md-4 elegant-color-dark  rounded-left pt-4">
                                    <h5 class="font-weight-bold text-white">Période de Juin: </h5>
                                </div>
                                <div class="col-md-4 text-center pt-4 border-right">
                                    <p class="h5 font-weight-normal">900 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 1 au 15 Juin</p>
                                </div>
                                <div class="col-md-4 text-center pt-4">
                                    <p class="h5 font-weight-normal">900 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 15 au 30 Juin</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-4 hideme">
                    <div class="card z-depth-2 ">
                        <div class="card-body p-0">
                            <div class="row mx-0">
                                <div class="col-md-4 elegant-color-dark rounded-left pt-4">
                                    <h5 class="font-weight-bold text-white">Période de Juillet: </h5>
                                </div>
                                <div class="col-md-4 text-center pt-4 border-right">
                                    <p class="h5 font-weight-normal">1600 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 1 au 15 Juillet</p>
                                </div>
                                <div class="col-md-4 text-center pt-4">
                                    <p class="h5 font-weight-normal">1700 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 15 au 30 Juillet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 mb-4 hideme">
                    <div class="card z-depth-2 ">
                        <div class="card-body p-0">
                            <div class="row mx-0">
                                <div class="col-md-4 elegant-color-dark rounded-left pt-4">
                                    <h5 class="font-weight-bold text-white">Période d'Août: </h5>
                                </div>
                                <div class="col-md-4 text-center pt-4 border-right">
                                    <p class="h5 font-weight-normal">1800 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 1 au 15 Août</p>
                                </div>
                                <div class="col-md-4 text-center pt-4">
                                    <p class="h5 font-weight-normal">1800 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 15 au 30 Août</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-12 mb-4 hideme">
                    <div class="card z-depth-2 ">
                        <div class="card-body p-0">
                            <div class="row mx-0">
                                <div class="col-md-4 elegant-color-dark rounded-left pt-4">
                                    <h5 class="font-weight-bold text-white">Période de Septembre: </h5>
                                </div>
                                <div class="col-md-4 text-center pt-4 border-right">
                                    <p class="h5 font-weight-normal">1500 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 1 au 15 Septembre</p>
                                </div>
                                <div class="col-md-4 text-center pt-4">
                                    <p class="h5 font-weight-normal">1000 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 15 au 30 Septembre</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-12 mb-4 hideme">
                    <div class="card z-depth-2 ">
                        <div class="card-body p-0">
                            <div class="row mx-0">
                                <div class="col-md-4 elegant-color-dark rounded-left pt-4">
                                    <h5 class="font-weight-bold text-white">Période d'Octobre: </h5>
                                </div>
                                <div class="col-md-4 text-center pt-4 border-right">
                                    <p class="h5 font-weight-normal">720 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 1 au 15 Octobre</p>
                                </div>
                                <div class="col-md-4 text-center pt-4">
                                    <p class="h5 font-weight-normal">720 € / Semaine</p>
                                    <p class="h5 font-weight-light text-muted mb-4">Du 15 au 30 Octobre</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>

    {{ include('demande/_form.html.twig') }}



{% block stylsheets %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
     <link rel="stylesheet" href="{{asset('bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}">
    <style>


        .hideme
        {
            opacity:0;
        }

        #container1{
                background-color: rgba(0,0,0,0) !important;
         }
        
    </style>
{% endblock %}
{% block javascripts %}
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.fr.min.js">
	</script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
			format: 'yyyy-mm-dd',
            language: "fr",
            todayHighlight: true,
            daysOfWeekDisabled: [1,2,3,4,5,0],
                });




            $(window).scroll( function(){

                /* Check the location of each desired element */
                $('.hideme').each( function(i){

                    var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                    var bottom_of_window = $(window).scrollTop() + $(window).height();

                    /* If the object is completely visible in the window, fade it in */
                    if( bottom_of_window > bottom_of_object ){

                        $(this).animate({'opacity':'1'},1500);

                    }

                });

            });
        });
    </script>

{% endblock %}

{% endblock %}

