body, #contact{
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient( #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

#contact{
color: white;
}
footer{
background-color: rgb(0.2,0.2,0.2);
}
.container{
background-color: white;
}

.carousel-item {
height: 80vh;
min-height: 350px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.navbar {
background-image: none;
background-color: rgba(0.2,0.2,0.2,0.3);
border-radius: 0px;
border: 0;
box-shadow: none;
padding: 10px;
position: absolute; /* Make the menu out of the document flow so it can placed anywhere without disturbing other widgets */
top: 0;
left: 0;
right: 0;
z-index: 10; /* If you delete this line, your menu link won't be clicked because it is behind the background. Applying this code bring the menu in front of the background */
}

.navbar .navbar-brand {
color: #ffffff;
font-size: 20px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
color: #ffffff;
background-color: transparent;
}

.navbar .navbar-nav > li > a {
color: #ffffff;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
color: #ffffff;
background-color: transparent;
}

.dropdown-menu{
background-color: transparent;
border-color: transparent;
}
.navbar .dropdown-menu a {
color: #ffffff;
}
.dropdown-menu .dropdown-item:focus{
background-color: rgba(0.2,0.2,0.2,0.5);
}
.dropdown-menu .dropdown-item:hover {
background-color: rgba(0.2,0.2,0.2,0.5);
}

@media (max-width:991px) {
.carousel  {
background-size: cover; /* To make the background image looks good */
}
}






.covertext {
position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
top: 205px; /* The distance between the div with the top of document */
left: 0px; /* Make the div full width */
right: 0px; /* Make the div full width */
background-color: rgba(0.2,0.2,0.2,0.3);

}

.title {
font-weight: 600;
font-size: 60px;
color: #ffffff;
text-align: center;
}

.subtitle {
font-size: 23px;
color: #ffffff;
text-align: center;
}

.explore {
text-align: center;
margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
border-radius: 30px;
padding: 15px 25px;
font-size: 22px;
background-image: none;
background-color: #FF4000;
border-color: #FF4000;
color: #ffffff;
}

.btn,
.btn:hover {
border-radius: 0px;
background-image: none;
background-color: #FF4000;
border-color: #FF4000;
color: #ffffff;
margin-bottom: 20px;
box-shadow: none;
outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
color: #ffffff;
outline: none;
}
