{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Nouvelle Réservation</h1>

                {{ include('booking/_form.html.twig') }}
                <a href="{{ path('booking_new') }}">Créer réservation</a>
                <a href="{{ path('booking_index') }}">Retour</a>
    </div>
{% endblock %}
